.landingsside {
  text-align: center;
}

.landingsside__header {
  background-color: #bd0008;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.header__bilde {
  align-content: center;
}
